<a href="https://colab.research.google.com/github/immbibek/python_code/blob/main/pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# creating DataFrame

# using lists
student_data=[
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]
pd.DataFrame(student_data,columns=['iq','marks','package'])

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [ ]:
# using Dictionary
student_dict={
    'name':['nitish','ankit','rupesh','amit'],
    'iq':[100,90,120,80],
    'marks':[80,70,100,50],
    'package':[10,7,14,2]
}
students=pd.DataFrame(student_dict)
students

     name   iq  marks  package
0  nitish  100     80       10
1   ankit   90     70        7
2  rupesh  120    100       14
3    amit   80     50        2

In [ ]:
# using read_csv
movies=pd.read_csv('/content/movies.csv')

FileNotFoundError: ignored

In [ ]:
movies.head(3)

In [ ]:
ipl=pd.read_csv('/content/ipl-matches (2).csv')

In [ ]:
ipl.head()

 **DataFrame Attributes and Methods**

In [ ]:
# shape
movies.shape

In [ ]:
# dtypes ---> it provide data type all the column in a series
movies.dtypes

In [ ]:
# index
movies.index
ipl.index

In [ ]:
# columns
movies.columns

In [ ]:
students.values

In [ ]:
# head and tail
ipl.head(2)
ipl.tail(2)

In [ ]:
# sample ---> it takes randomly row(use- when data is unbiased)

ipl.sample(5)

In [ ]:
# info
movies.info()

In [ ]:
#describe ---> it only gives numerical column

In [ ]:
# isnull
movies.isnull().sum()

In [ ]:
# duplicated
movies.duplicated().sum()

In [ ]:
students.duplicated().sum()

In [ ]:
# rename
students

In [ ]:
students.rename(columns={'marks':'percent','package':'LPA'},inplace=True)

In [ ]:
students

**Math Function**

In [ ]:
# sum ---> axis argument
movies.sum()

In [ ]:
students.sum()

In [ ]:
students.sum(axis=1) ## rowise

In [ ]:
students.var()

**Selecting cols from a DataFrame**

In [ ]:
# single cols
movies['title_x']

In [ ]:
# multiple cols

movies[['title_x','year_of_release','actors']]

**Selecting cols from a DataFrame**


. iloc-searches using index positions

. loc- secarches using index labels

In [ ]:
students.set_index('name')

In [ ]:
movies.iloc[0]

In [ ]:
# multiple rows fetching
movies.iloc[0:5]

In [ ]:
# fancy indexing
movies.iloc[[0,4,5]]

In [ ]:
# loc
students

In [ ]:
movies.head()

In [ ]:
movies.iloc[0:3,0:3]

In [ ]:
movies.loc[0:2,'title_x':'poster_path']

**Filtering a DataFrame**

In [ ]:
ipl.head(5)

In [ ]:
# find all the final winner
mask=ipl['MatchNumber']=='Final'

In [ ]:
mask
new_df=ipl[mask]

In [ ]:
new_df[['Season','WinningTeam']]

In [ ]:
# in one line code
ipl[ipl['MatchNumber']=='Final'][['Season','WinningTeam']]

In [ ]:
# how many super over finishes have occurred
super=ipl['SuperOver']=='Y'

In [ ]:
ipl[super].shape[0]

In [ ]:
# how many matches has csk won in kolkata
ipl

In [ ]:
ipl['City']=='Kolkata'

In [ ]:
winner=ipl['WinningTeam']=='Chennai Super Kings'

In [ ]:
ipl[(ipl['City']=='Kolkata')& (ipl['WinningTeam']=='Chennai Super Kings')].shape[0]

In [ ]:
# toss winner is match winner in percentage
winning=ipl['TossWinner']==ipl['WinningTeam']

In [ ]:
ipl[winning].shape[0]/ipl.shape[0]*100

In [ ]:
# movies with rating higher than 8 and votes>10000
movies[movies['imdb_rating']>8 & (movies['imdb_votes']>10000)].shape[0]

In [ ]:
# Action movies with rating higher than 7.5
movies

In [ ]:
mask1=movies['genres'].str.split('|').apply(lambda x:"Action" in x)
mask2=movies['imdb_rating']>7.5
movies[mask1 & mask2]

In [ ]:
# Adding new cols
# completly new
movies['Country']="India"
movies.head()

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies['lead_actor']=movies['actors'].str.split('|').apply(lambda x:x[0])
movies.head()

In [ ]:
# important DataFrame Functions

In [ ]:
#astype
ipl.info()

In [ ]:
ipl['ID']=ipl['ID'].astype('int32') #astype() is very useful to reduce memory usage

In [ ]:
ipl.info()

In [ ]:
#ipl["Season"]=ipl['Season'].astype('category')
ipl["Season"]=ipl['Team1'].astype('category')
ipl["Season"]=ipl['Team2'].astype('category')

In [ ]:
ipl.info()